@charset 'UTF-8';
/* Black */
/* @font-face {
    font-family: Now;
    src: url(/fonts/now/Now-Black.otf) format(opentype);
    font-weight: Black;
    font-style: normal;
} */
/* Bold */
@font-face {
    font-family: Now;
    src: url(/fonts/now/Now-Bold.otf) format(opentype);
    font-weight: Bold;
    font-style: normal;
}
/* Medium */
@font-face {
    font-family: Now;
    src: url(/fonts/now/Now-Medium.otf) format(opentype);
    font-weight: Medium;
    font-style: normal;
}

html{
    background-color: #F0F0F0;
}

a{
    /* font: 1.5rem; */
    color: #202020;
    font-family: "Now", Medium;
    src: url(/fonts/now/Now-Black.otf) format(opentype);
}

#menu_right{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    float: left;
}

body{
    font-family: Now-Bold;
}

#menu{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    border: 1px solid #000;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 300px 1fr 100px 200px;
    padding: 1rem;
}

#LOGO{
    font-family: "Now", "Black";
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 1rem;
    font-size: 200%;
}

#works{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    padding: 1rem;
}

#works::after{
    background-color: aqua;
}

#aboutcontact{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    padding: 1rem;
}

#container{
    /* border: 1px solid #000; */
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 300px 1fr 300px;
}

#main{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: 1px solid #000;
    padding: 1rem;
}

#footer{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    /* border: 1px solid #000; */
    padding: 1rem;
    background-color: #EBEBEB;
}

