/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900 */

.source-code-pro-<uniquifier> {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  .noto-sans-jp-<uniquifier> {
      font-family: "Noto Sans JP", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }
  
  .zen-maru-gothic-regular {
      font-family: "Zen Maru Gothic", serif;
      font-weight: 400;
      font-style: normal;
  }
  
html{
    background-color: rgb(253, 254, 255);
} 
  
  p{
      text-decoration: none;
  }

  
  
.text{
      font-family: Zen Maru Gothic;
      font-weight: 500;
      font-size: 1rem;
      font-feature-settings: "palt" 1;
      letter-spacing: 0.1rem;
  }
  
.text_url{
      font-family: Zen Maru Gothic;
      font-weight: 500;
      font-size: 1rem;
      font-feature-settings: "palt" 1;
      letter-spacing: 0.1rem;
      line-height: 2.5rem;
  }
  
  
  
  h1{
      font-family: Zen Maru Gothic;
      font-weight: 500;
      font-size: 1.8rem;
      /* font-feature-settings: "palt" 1; */
      letter-spacing: 0rem;
      color: black;
      width: 80%;
      animation: fadeIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  
  h2{
      font-family: Zen Maru Gothic;
      font-weight: 300;
      font-size: 1rem;
      font-feature-settings: "palt" 1;
      /* letter-spacing: 0.1rem; */
      margin-top: -1.2rem;
      color: rgb(177, 177, 177);
  }
  
  h3{
      /* font-family: Source Code Pro; */
      font-family: Zen Maru Gothic;
      font-weight: 600;
      /* font-size: 2.5rem; */
      /* font-feature-settings: "palt" 1; */
      letter-spacing: 0.1rem;
      margin-top: 1.7rem;
  }
  
  .title{
      transform: scale(1, 3.5);
  }
  
  
  body{
      /* font-size: 25px; */
      margin: 25px;
      display: flex;
      /* margin-top:50px; */
      gap: 6px 40px; /* 余白 */
  }

.onmkicon{
    width: 30%;
    image-rendering: pixelated;
}
  
#main{
    margin: 5px;
    width: 65rem;
}

/* アイコンテキストの部分 */
.minitext{
    display: inline-block;
    color: rgb(168, 168, 168);
}
  
#main-about{
    /* height: -100px; */
}
  
#menu{
    letter-spacing: 0.1em;
    font-family: Zen Maru Gothic;
    font-weight: 600;
    /* font-feature-settings: "palt" 1; */
    text-decoration: none;
    color: black;
    top: 8%;
    height: 50px;
    line-height: 2rem;
    /* margin-top: 1.2rem; */
    /* letter-spacing: 0.5rem; */
    position: sticky;
}
  
ul{
    padding: 0;
    list-style-type: none;
    color: blue;
}

  
hr{
    height: 0.1px;
    /* color:black; */
}

.click{
    font-family: Zen Maru Gothic;
    /* text-decoration: none; */
    text-decoration-color: rgb(240, 240, 240);
    color: black;
    border-width: 2px;
}

.click:hover{
    /* text-decoration: underline; */
    color: blue;
}
  
.onmkicon{
    width: 30%;
    animation: fadeY .5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* テキストフェード */
.text{
    animation: fadeIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.tyui{
    color: red;
}

/* 透明度フェードイン */
@keyframes fadeIn {
0% {
    opacity: 0;
    }
  30%,100% {
    opacity: 1;
  }
}

/* 画像フェード */
.item-img{
      width: 80%;
      animation: fadeY 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }

 /* 下からフェードイン */
@keyframes fadeY {
    0% {
      transform: translateY(5px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
    }
    40%,100% {
      opacity: 1;
    }
  }
  
  
  .url{
      text-decoration: none;
      text-decoration: underline;
      color: rgb(0, 0, 255);   
  }

.minitext{
    font-family: Zen Maru Gothic;
    text-decoration-color: rgb(240, 240, 240);
}
  
  
  @media screen and ( max-width:1024px) {
      /*　画面サイズ1024pxまではここを読み込む　*/
      .text{
          font-family: Zen Maru Gothic;
          font-weight: 500;
          font-size: 1.5rem;
          font-feature-settings: "palt" 1;
          letter-spacing: 0.1rem;
      }
      
      .text_url{
          font-family: Zen Maru Gothic;
          font-weight: 500;
          font-size: 1.5rem;
          font-feature-settings: "palt" 1;
          letter-spacing: 0.1rem;
          line-height: 2.5rem;
      }
      
      h3{
          /* font-family: Source Code Pro; */
          font-family: Zen Maru Gothic;
          font-weight: 600;
          font-size: 2rem;
          /* font-feature-settings: "palt" 1; */
          letter-spacing: 0.1rem;
          margin-top: 1.7rem;
      }
  
      #menu{
          letter-spacing: 0.1em;
          font-family: Zen Maru Gothic;
          font-weight: 500;
          font-size: 2.2rem;
          /* font-feature-settings: "palt" 1; */
          text-decoration: none;
          color: black;
          top: 8%;
          height: 50px;
          line-height: 4rem;
          margin-top: 1.2rem;
          /* letter-spacing: 0.5rem; */
          position: sticky;
      }
  }

@media (max-width: 1024px) {
  #main img {
    width: 100%; /* 画像を親要素の幅いっぱいに拡大 */
    display: block; /* 画像をブロックレベル要素として表示 */
  }
  #main img.text {
    display: inline-block; /* 画像をインラインブロックレベル要素として表示 */
    width: auto; /* 画像の幅を自動調整 */
    max-width: 100%; /* 画像の最大幅を親要素の幅に制限 */
    float: right; /* 画像を右端に配置 */
    clear: both; /* 画像の後に改行 */
  }
}